<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>Fiş tarama işlemi için kamera erişimi gereklidir.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Fişlerinizi galeri üzerinden yükleyebilmeniz için fotoğraf kütüphanesi erişimi gereklidir.</string>
</dict>
</plist>
